#whiteboard {
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-background-insets: 5px;
    -fx-border-insets: 5px;
    -fx-background-color: white;
}

#border-pane {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}