
.tile {
    -fx-border-width: 4px;
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-insets: -1px;
}

.tile:focused {
    -fx-border-width: 5px;
}

.tile-grid {
    -fx-alignment: center;
}

/*Right pane*/

.right-pane {
    -fx-alignment: center;
}

.current-colour {
    -fx-alignment: center;
    -fx-background-insets: 10px;
    -fx-border-insets: 10px
}

.score-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-align: center;
    -fx-font-size: 20px;
    -fx-background-insets: 10px;
    -fx-border-insets: 10px
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: rgba(0, 0, 0, 0.336);

}

.user-score-label {
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-font-family: monospace;
    
}